{% extends "root.html" %}
<!DOCTYPE html>

{% block title %} Currency {% endblock %}

{% block content %}
  <div class="row">
    <h1 style = "color: #F4EF88;">Currency Exchange</h1>
  </div>
  <br>
  <div class="row">
    <div class="col-sm">
      <div class="card currency-card">
        <div class="card-body">
          <p class="card-text">Base Currency (based on your location): <strong>{{basecurrency}}</strong></p>
          <p class="card-text">Local Currency in {{cityname}}: <strong>{{targetcurrency}}</strong></p>
          <p class="card-text">Exchange Rate: <strong>1 {{basecurrency}} = {{rate}} {{targetcurrency}}</strong></p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card calculator-card">
        <div class="card-body">
          <h5 class="card-title">Currency Calculator</h5>
          <p class="card-text"><strong>{{basecurrency}} to {{targetcurrency}}</strong></p>
          <form action="/currency">
            <input type="number" name="inputval" value= {{money}} />
            <!-- <input type="submit" name="submit" value="Convert" /> -->
            <button type="submit" class="btn btn-primary btn-sm">Convert</button>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <h4> Conversion: <strong> {{ conversion }}</strong>
    {% if conversion != "Please input a value." %}
      <strong> {{ targetcurrency }} </strong>
    {% endif %}
  </h4>
  </div>
{% endblock %}
