 <!DOCTYPE html>
<!--
Team Boneless Ice - Ayham Alnasser, Tiffany Cao, Clement Chan, Kiran Vuksanaj
Softdev1 pd1
P01 -- root jinja template
2019-11-18
-->

<html>
  <head>
    <title>
      {% block title %}Webpage{% endblock %} || Ocean Getaways
    </title>

    <!-- link to bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- local stylesheet -->
    <link rel="stylesheet" href="/static/css/{% block stylesheet %}style.css{% endblock %}" type="text/css">
    {% block script %}{% endblock %}

  </head>
  <body>
    {% block header %}

    <div class="container-fluid header-container">
      <nav class="navbar navbar-expand-lg navbar-light header-navbar">
	<a class="navbar-brand" href="#">Ocean Getaways</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
	  <ul class="navbar-nav mr-auto">
	    <li class="nav-item {{'active' if request.path=='/'}}">
	      <a class="nav-link" href="/">{{'New' if request.path!='/'}} Search</a>
	    </li>
	    <li class="nav-item"><span class="nav-link disabled">|</span></li>
      <li class="nav-item">
        <a class="nav-link
      {{'active' if request.path=='/info'}}
      {{'disabled' if request.path=='/'}}
           " href="/info">Information</a>
      </li>
	    <li class="nav-item">
	      <a class="nav-link
			{{'active' if request.path=='/currency'}}
			{{'disabled' if request.path=='/'}}
		       " href="/currency">Currencies</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link
			{{'active' if request.path=='/weather'}}
			{{'disabled' if request.path=='/'}}
		       " href="/weather">Weather</a>
	    </li>
	  </ul>
	</div>
      </nav>
    </div>

    <!--
    <div class="container-fluid header-container">
      <div class="row">
	<div class="col-sm">
	  <h3>Ocean Getaways</h3>
	</div>
	<div class="col-sm">
	  <p class="lead">by Boneless Ice</p>
	</div>
      </div>
    </div>
    -->
    {% endblock %}

    <div class="container-fluid content-container">

      {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
      {% for cat,msg in messages %}
      <div class="alert alert-{% if cat == 'error' %}danger{% else %}info{% endif %}" role="alert">
	{{msg}}
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}

      {% block content %}
      {% endblock %}

    </div>

    {% block footer %}

    <div class="container-fluid footer-container">
      <div class="row">
	<p class="lead" id="credits">
	  Copyright &copy; 2019 <strong>Boneless Ice</strong> - Ayham Alnasser, Tiffany Cao (PM), Clement Chan, Kiran Vuksanaj<br />
	</p>
      </div>
    </div>

    {% endblock %}
  </body>
</html>
